.alpacas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bubble {
  width: 220px;
}
.alpaca {
  width: 300px;
}
.mirror {
  width: 200px;
  height: 200px;
}
.sentence {
  font-size: 11px;
  text-transform: uppercase;
  position: absolute;
  top: 70px;
  left: 620px;
}
.not-found {
  position: absolute;
  bottom: 60px;
  right: 520px;
}
